* {
    margin: 0;
    padding: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

body {
    background-color: black;
    overflow-x: hidden;
}

.main {
    background-image: url(images-svgs/bg.jpg);
    height: 65vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    background-size: max(1200px, 100vw);

}

.main .box {
    width: 100%;
    height: 65vh;
    opacity: 0.64;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    max-width: 65vw;
    margin: auto;
    justify-content: space-between;
}


nav img {
    color: red;
    position: relative;
    z-index: 10;
    margin: 10px;
    width: 144px;
    /* padding-right: 50px; */
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 59px);
    position: relative;
    z-index: 10;
    font-family: "Martel Sans", sans-serif;
    gap: 23px;
    padding: 0 29px;
}

.hero>:nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero>:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero>:nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.seperation {
    height: 7px;
    width: 100%;
    background-color: rgb(62, 60, 60);
}

.btn {

    background-color: white;
    align-items: center;
    padding: 3px 8px;
    font-weight: 500;
    color: white;
    background-color: #a3a1a154;
    border-radius: 4px;
    cursor: pointer;
}

.red-btn {
    background-color: red;
    color: white;

}

.btn-red-sm {
    padding: 3px 24px;
    background-color: red;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bolder;

}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.main input {
    border-radius: 4px;
    font-size: 10px;
    padding: 9px 64px 9px 2px;
    background-color: rgb(23, 23, 23, 0.7);
    border: 1px solid rgba(222, 215, 215, 0.5);
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;

}

.secImg {
    position: relative;

}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;

}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;


}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}

.faq {
    max-width: 80vw;
    color: white;
    margin: auto;

}

.faq h2 {
    color: white;
    padding-top: 34px;
    font-size: 30px;
}

.faq-box {
    display: flex;
    color: white;
    padding: 25px;
    background-color: #2d2d2d;
    max-width: 70vw;
    margin-top: 7px;
    margin-bottom: 4px;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.faq-box:hover {
    background-color: #444343;
}

.faq-box svg {
    filter: invert(1);

}

.last {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;


    font-size: 20px;
}

.last .text {
    color: white;
    margin-bottom: 15px;
}

.contain {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.contain input {
    padding-right: 300px;
    padding-top: 15px;
    padding-left: 7px;
    padding-bottom: 15px;
    color: rgb(158, 154, 154);
    font-size: 18px;
}

.contain button {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
}

footer {
    color: rgb(181, 178, 178);
    max-width: 70vw;
    margin: auto;
    height: 50vh;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 80vw;
    margin: auto;
    font-weight: 500;

}

@media screen and (max-width : 1300px) {

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero>:nth-child(1) {
        font-size: 32px;

    }

    .hero>:nth-child(2) {
        font-size: 18px;

    }

    .hero>:nth-child(3) {
        font-size: 18px;

    }
    nav{
        max-width: 90vw;
    }
    .main input {

        padding: 7px 53px 8px 14px;
    }
    .btn-red-sm {
        padding: 5px 18px;
       font-size: 14px;
       font-weight: normal;
       padding-left: 2px;
    
    }

}

@media screen and (max-width : 1300px) {

    .footer {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

}


footer>div {
    margin: 70px 0;
}

.footer a {
    color: rgb(158, 154, 154);
    font-size: 14px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}